<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <img
        src="../../assets/forgot-password.png"
        class="img-fluid"
        alt="Forgot Password"
      />
    </div>
    <div class="col-md my-md-5 my-3 pt-md-3">
      <h3 class="text-center text-md-start px-4 my-3 text-secondary">
        Forgot Password? It's Okay, just follow the steps
      </h3>
      <mat-divider class="my-2"></mat-divider>
      <div class="container-fluid">
        <username-form
          *ngIf="currentStep === 1"
          (completed)="stepChange($event)"
        ></username-form>
        <token-form
          *ngIf="currentStep === 2"
          (completed)="stepChange($event)"
          (token)="storeToken($event)"
        ></token-form>
        <new-password-form
          *ngIf="currentStep === 3"
          (completed)="stepChange($event)"
          [token]="token"
        ></new-password-form>
      </div>
    </div>
  </div>
</div>
