<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <img
        src="../../../assets/about-us.png"
        alt="About us page"
        class="img-fluid mt-5"
      />
    </div>
    <div class="col-md mt-2 my-md-4">
      <h3>About Us</h3>
      <mat-divider class="my-3"></mat-divider>
      <div class="row">
        <div class="col">
          <h5>Overview</h5>
          <h6>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sunt
            nam magni vero ullam reprehenderit! Consequuntur, veritatis soluta!
            Provident numquam fuga dolore dignissimos doloribus odio ratione
            ipsum nesciunt laborum asperiores quisquam facilis eos animi dicta
            doloremque quaerat, officiis quibusdam quidem voluptas architecto
            blanditiis et? Quia recusandae consequatur facilis sed minima
            incidunt commodi veniam praesentium! Quas unde ullam qui error ipsa
            necessitatibus officiis voluptate ipsum molestias sunt maxime
            repudiandae amet optio, rem, eum assumenda iste iure consectetur
            fugiat quisquam adipisci magnam ratione modi voluptatum! Reiciendis
            reprehenderit perferendis quo excepturi et quod vel iusto commodi
            quaerat tenetur quibusdam mollitia asperiores voluptatem quae omnis,
            in rem illo cumque natus velit non similique fuga, laudantium a.
            Iusto sunt, odit voluptates harum officia illo itaque.
          </h6>
        </div>
        <div class="col">
          <h5>&nbsp;</h5>
          <h6>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias
            sequi totam ut doloremque? Nemo rerum fugiat magnam tempore quam
            inventore impedit aut cupiditate aspernatur ullam quia dicta dolorem
            unde distinctio, dignissimos hic blanditiis, magni sit, autem dolore
            sed vel voluptate cum? Magnam, reprehenderit itaque ut explicabo
            exercitationem voluptate fugiat repudiandae expedita. Iure culpa
            dolore laborum nisi nihil eum repellendus dolor rerum doloribus, et
            architecto dicta possimus natus corporis, odio voluptate!
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
