<mat-dialog-content>
  <div class="container-fluid">
    <div
      *ngIf="alert?.isAlert"
      class="alert alert-{{ alert?.alertType }}"
      role="alert"
    >
      {{ alert?.alertMessage }}
    </div>
    <div class="row">
      <div class="col-md-2">
        <img
          *ngIf="data?.gender === 'MALE'"
          src="../../../assets/avatar_male.png"
          class="card-img-top"
          alt="avatar_male"
        />
        <img
          *ngIf="data?.gender === 'FEMALE'"
          src="../../../assets/avatar_female.png"
          class="card-img-top"
          alt="avatar_female"
        />
      </div>
      <div class="col-md mt-2">
        <div class="row">
          <div class="col">
            <h4 class="card-title">{{ data.firstName }} {{ data.lastName }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h6 class="card-text">Role: {{ data.role }}</h6>
            <h6 class="card-text d-md-block d-none">Email: {{ data.email }}</h6>
            <h6 class="card-text d-md-none d-block">
              {{ data.email }}
            </h6>
          </div>
          <div class="col text-end">
            <h6 class="card-text">Username: {{ data.loginId }}</h6>
            <h6 class="card-text">Contact: {{ data.contactNumber }}</h6>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button
              mat-flat-button
              color="accent"
              class="mt-3 w-100"
              (click)="closeModal()"
            >
              Close
            </button>
          </div>
          <div class="col">
            <button
              mat-flat-button
              color="primary"
              class="mt-3 w-100"
              (click)="giveAdminAccess(data.loginId)"
            >
              Give Admin Access
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
