<form
  class="container-fluid"
  #newPasswordForm="ngForm"
  (ngSubmit)="changePassword(newPasswordForm)"
>
  <div
    *ngIf="alert?.isAlert"
    class="alert alert-{{ alert?.alertType }} mb-2"
    role="alert"
  >
    {{ alert?.alertMessage }}
  </div>
  <mat-form-field appearance="outline">
    <mat-label>New Password</mat-label>
    <input
      matInput
      type="password"
      ngModel
      #password="ngModel"
      name="password"
      placeholder="Please enter your password"
      required
    />
    <mat-error *ngIf="password.invalid"> Password is required </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      type="password"
      ngModel
      #confirmPassword="ngModel"
      name="confirmPassword"
      placeholder="Please confirm your Password"
      required
    />
    <mat-error *ngIf="confirmPassword.invalid">
      Confirm Password is required
    </mat-error>
  </mat-form-field>
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md">
      <button mat-flat-button color="primary">Reset Now</button>
    </div>
  </div>
</form>
