<div class="footer text-center pt-2">
  <h3 class="py-2">About Us</h3>
  <div class="about-us px-3 pb-3">
    <div class="row">
      <div class="col-md text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt fugit
        odio praesentium porro fugiat, tenetur maiores, alias eum cumque nam
        animi earum provident exercitationem odit reiciendis, excepturi ratione
        pariatur sunt obcaecati laudantium placeat. Fuga quibusdam dolor itaque
        quis at saepe nemo quisquam quod eos, sunt harum eaque praesentium,
        deleniti labore somes.
      </div>
      <div class="col-md text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt fugit
        odio praesentium porro fugiat, tenetur maiores, alias eum cumque nam
        animi earum provident exercitationem odit reiciendis, excepturi ratione
        pariatur sunt obcaecati laudantium placeat. Fuga quibusdam dolor itaque
        quis at saepe nemo quisquam quod eos, sunt harum eaque praesentium,
        deleniti labore somes.
      </div>
    </div>
  </div>
  <div class="texts p-3">
    © 2020 Copyright:
    <a href="http://triquetrx.netlify.app">triquetrx</a>
  </div>
</div>
