

.footer{
    background-color: #d12121; 
    color: #E8E9F3;
    .texts{
        background-color: #b71c1c; 
        color: #E8E9F3;
        a{
            color: #E8E9F3;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}